{% extends 'zad/base.html' %}

{% block title %}home{% endblock %}

{% block content %}
   <h1>detale file</h1>

    <p>{{ instance_date }}</p>
    <p>{{ instance_password }}</p>
    <p>{{ instance_absolute_url }}</p>
    <p>{{ instance_app_url }}</p>
    <p>{{ date_now }}</p>

    <h3>wybierz co chcesz zrobic </h3>
    <li><a href="{% url 'zad:add_file' %}">dodaj plik</a></li>
    <li><a href="{% url 'zad:add_url' %}">dodaj url</a></li>
    <li><a href="{% url 'zad:logout' %}">wyloguj</a></li>

    {% for u in customerUrls %}
        <a href='{{ u.get_absolute_url }}'>{{ u.password }}</a>
    {% endfor %}


{% endblock %}