body{
    background: whitesmoke /*url("images/gray-background.jpg");*/
}

/* Sidebar */
#sidebar-wrapper{
    /*z-index: 1;*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 100%;*/
    /*!*overflow-y: hidden;*!*/
    /*background: #2C3E50;*/
    /*border: 2px solid red;*/
    /*opacity: 0.9;*/
}

/* main content*/
#page-content-wrapper{
    /*width: 100%;*/
    position: absolute;
    padding: 15px;
    border: 5px solid green;
}

/*change the width of sidebar to display it*/
#wrapper.menuDisplayd #sidebar-wrapper{
    width: 250px;
}

#wrapper.menuDisplayd #page-content-wrapper{
    padding-left: 250px;
}
.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav a{
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: #16A085;
}
.details-container{
    background: #a9aba6;
    padding: 2%;
    font-size: 20px;
}
.object_display{
     padding: 2%;
}
.object_display a{
    text-decoration: none;
    color: #000;
    padding: 1%;
}
.nav-bar-logo{
    background: #a9aba6;
}
#calendar{
    width: 100%;
    border-collapse: collapse;

}
.calendar_td{
    width: 12%;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    vertical-align: top;
}

.calendar_td:hover {
    background-color: #f0f0f0;
}
/*.details{*/
    /*background: whitesmoke url("images/grey_tiles.png");*/
/*}*/
